<h1 align="center">Kullanıcılar</h1>


<div class="container">
    <div class="row">
      <% @users.each do |user| %>
        <div class="col-md-2 list">
          <br/>
          <li><%= link_to gravatar_for(user), user_path(user) %></li>
          <li><%= link_to user.username, user_path(user) %></li>
          <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
          <% if logged_in? && current_user.admin? %>
            <li>
              <%= link_to "Delete this user", user_path(user), method: :delete, data: {confirm: "Are you sure?"} %>
              
            </li>
            <% end %>
        </div>
        <% end %>
    </div>
</div>

<div>
  <%= will_paginate @users %>
</div>



